<section>
<div class= "about-profile center round">
	<%= image_tag("img.JPG", :alt => "Picture", :class => "about-image") %>
	<h3>Heya, I'm Luke and this is one of many projects on my road to learn Rails</h3>
	<p>This project is somewhat an attempt to copy Pinterest. I used various gems such as devise for creating users, imagemagick for uploading picture, AWS3 for storing images on external source along with many others gems that were a great help along the way. Whole development process was on a Windows OS so it was a "Rocky Road" but i managed to complete it after many hardships. If You are interesting in following me on my journey to learn Rails, check out my twitter <a href="https://twitter.com/Velsu">@Velsu</a> or my <a href="http://github.com/Velsu">github</a> account.</p>
</div>
</section>