<div class="jumbotron center h-color">
<h1>Welcome to Vinterest!</h1>
<p><%= link_to "Login", "users/sign_in", class: "btn-warning btn-lg round" %>
	<%= link_to "Register", "users/sign_up", class: "btn-primary btn-lg round" %>
</p>
</div>
