<%= image_tag @vin.image.url(:medium) %>

<p>
  <strong>Description:</strong>
  <%= @vin.description %>
</p>

<% if @vin.user == current_user %>
<%= link_to 'Edit', edit_vin_path(@vin) %> |
<% end %>
<%= link_to 'Back', vins_path %>
